<%- include('../partials/header.ejs')%>

    <h1>Event Add Page</h1>
     <form action="/events/add" method="POST">
        <input type="text" name="name" placeholder="Event Name"> <br/>
        <input type="text" name="artists" placeholder="Artist"> <br/>
        <input type="text" name="date" placeholder="Date"> <br/>
        <input type="text" name="venue" placeholder="Venue"> <br/>
        <input type="text" name="picture" placeholder="Picture"> <br/>
        <button type="submit">Create</button>
    </form>
    <section>
    <a href="/index"><button> List of all Events </button></a>    
    </section>

<%- include('../partials/footer.ejs')%>