    <script src="/assets/app.js"></script>
    </body>
    <footer class="footer">
         <i class="fab fa-twitter"></i>
           <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
    </footer>
</html>