<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TEAM PROJECT!!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/style.css" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
    <body>
    <% if(logged){%>
        <nav>
            <a href="/events/index">All Events</a>
            <a href="/users/<%=user._id%>">
            <%=user.firstName %>'s Account</a>
            <a href="/auth/logout">Log Out</a>
        </nav>
    <%}%>
