<%- include('partials/header.ejs')%>
    <div class="loader-container">
        <div class="explore-h1">
            <h1>Explore</h1>
        </div>
                <div class="your-h1">
            <h1>Your</h1>
        </div>
                <div class="else-h1">
            <h1>Else</h1>
        </div>
    </div>
    <div class="home-container">
    <h1> Home Container</h1>
    </div>

<%- include('partials/footer.ejs')%>