<%- include('partials/header.ejs')%>
    <div class="home-container">
        <div class="hero-one-stop">
            <div class="hero-home-text">
                <h1> One stop Directory for all festivals</h1>
            </div>
        </div>
        <div class="view-para">
            <div class="para-home-text">
                <h1>View Festival Line Up</h1>
                </div>
        </div>
        <div class="one-stop"></div>
    </div>

<%- include('partials/footer.ejs')%>