<%- include('partials/header.ejs')%>

        <h1>this is the home page</h1>
        <p> One stop Directory for all festivals</p>
        <div class="about-app-para"></div>
        <div class="one-stop">
        <p> One stop Directory for all festivals</p>
        </div>


<%- include('partials/footer.ejs')%>