<%- include('partials/header.ejs')%>
   <div class="loader-container">
        <div class="eye-text-container">
        <div class="explore-h1">
            <h1>Explore</h1>
        </div>
                <div class="your-h1">
            <h1>Your</h1>
        </div>
                <div class="else-h1">
            <h1>Else</h1>
        </div>
        </div>
        <div class="eye-container">
        <<img src="https://static1.squarespace.com/static/552fe360e4b003df8dd2e8f9/59d2528dd7bdce856214b2b1/59d25313be42d6ace3bb6fb1/1506956087745/Eye_4.gif" alt="blinking eye gif">
        </div>
    </div>
    <div class="home-container">
        <div class="eye-text-container">
        <div class="explore-static">
            <h1>Explore</h1>
        </div>
                <div class="your-static">
            <h1>Your</h1>
        </div>
                <div class="else-static">
            <h1>Else</h1>
                </div>
        </div>
        <div class="home-img-container">
            <img src="assets/photos/explore-static-img.jpg" class="home-img-explore" alt="">
            <img src="assets/photos/your-static-img.jpg" class="home-img-your" alt="">
            <img src="assets/photos/else-static-img.jpg" class="home-img-else" alt="">
        </div>
    </div>

<%- include('partials/footer.ejs')%>