
<<<<<<< HEAD
    <head>
        <link href="/assets/style.css" rel="stylesheet">
    </head>
    <h1>Login</h1>
    <form action="/auth/login" method="POST">
=======

<div class="login-page">
    <div class="login-container">
        <h1 class="login-h">Login</h1>
    <form class="login-box" action="/auth/login" method="POST">
>>>>>>> 3663b21f9df62c3de4f1234c27a51bf925a43e74
        <input type="text" name="email" placeholder="Enter you email address">
        <input type="password" name="password" placeholder="Enter your password">
        <button type="submit" class ="register-btn">Login</button>
    </form>
<<<<<<< HEAD
    <a href="/auth/register" ><button class ="register-btn">Register</button></a><br/>
=======
    <a href="/auth/register"><button>Register</button></a><br/>
    </div>
</div>
>>>>>>> 3663b21f9df62c3de4f1234c27a51bf925a43e74
    

