
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Raleway:400,500,600,700,800,900" rel="stylesheet">
        <link href="/assets/style.css" rel="stylesheet">
    </head>
    <body>
    
    <div class="register-page">
    
        <div class="register-container">
        
                <h1 class="register-h">Create account</h1>



            <form class="register-box"  action="/auth/register" method="POST">
                    <input type="text" id = "email-box" name="email" placeholder="Email" required><br/>

                    <input type="text" name="firstName" placeholder="First Name" required> <br/>
                    <input type="text" name="lastName" placeholder="Last Name" required> <br/>
                    <input type="password" name="password" placeholder="Password" required> <br/>
                <button class="register-btn" type="submit">Sign Up!</button><br/>
                <p>Already a user? <strong><a href="/auth/login">Log in</a></strong></p>
            </form>
        </div>
        <div class="register-gradient"></div>
    </div>
    
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Please enter a valid email address</p>
        </div>
        </body>
    </div>
    <script>


    </script>
</html>

<%- include('./partials/footer.ejs')%>