<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="/assets/style.css" rel="stylesheet">
    </head>
    <body>
    <div class="register-container">
        <div class="register">
            <h1>Register</h1>
        </div>
        <p> Get started today and create a free account </p>
        <form class="register-box" action="/auth/register" method="POST">
                <input type="text" name="email" placeholder="Email Address"> <br/>
                <input type="text" name="firstName" placeholder="First Name"> <br/>
                <input type="text" name="lastName" placeholder="Last Name"> <br/>
                <input type="password" name="password" placeholder="Password"> <br/>
            <button type="submit">Let's do this</button>
        </form>
    </div>
    </body>
    <script src=""></script>
</html>