<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.typekit.net/aot7zbu.css">
        <link href="/assets/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <div class="register">
        <h1>Register</h1>
    </div>
    <form action="/auth/register" method="POST">
        <input type="text" name="email" placeholder="Email Address"> <br/>
        <input type="text" name="firstName" placeholder="First Name"> <br/>
        <input type="text" name="lastName" placeholder="Last Name"> <br/>
        <input type="password" name="password" placeholder="Password"> <br/>
        <button type="submit">Register</button>
    </form>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>